html{
    background-color:black;
}
h1{
    text-align: center;
    color:white;
    }
p{
    text-align: center;
    color:white;
}

.poster{
   
    width:50%;
    margin-left:25%;
    margin-top: 100px;
    color:white;
    font-family: font-family: "Libre Baskerville", serif; 
    text-align: center;
}
.motivation-img{
border:5px solid white;
width:100%;
}